MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=hrms_lite

NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,https://hrms-dun-gamma.vercel.app

